<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/application.scss">
	<title>Webcamp_Bookers2</title>
</head>

<body>
	<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Bookers!</h1>
</body>
</html>
